/*Базовые стили*/

body {
    background-color: #f8f8f8;
}

/*Меню*/

ul.menu {
    list-style: none;
}

    ul.menu > li, ul.menu > li a {
        color: black;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

/*Подробное описание товара*/

.image-main {
    outline: 1px solid #666;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.desc-short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.desc-full {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

ol.feature {
    color: #484343;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

    ol.feature ul {
        list-style: disc;
    }

/*Котакты*/

form.feedback .field {
    font-size: 14px;
    color: blue;
}

form.feedback input.field {
    width: 200px;
    height: 20px;
}
