/*#region base*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1366px;
    position: relative;
}

/*#endregion*/

/*#region navbar*/

.navbar {
    position: absolute;
    z-index: 100;
    width: 1166px;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

    .navbar .logo {
        display: block;
        width: 185px;
        height: 22px;
        float: left;
        background-image: url('img/logo.svg');
    }

    .navbar .menu {
        display: block;
        float: right;
        list-style: none;
    }

        .navbar .menu .item {
            display: inline-block;
        }

            .navbar .menu .item a {
                color: #8c8c8c;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 15px 5px;
            }

            .navbar .menu .item.active a, .navbar .menu .item:hover a {
                color: #212121;
                border-bottom: 3px solid #212121;
            }

    .navbar .search {
        display: block;
        float: right;
        background-image: url('img/search-icon.svg');
        width: 23px;
        height: 23px;
    }

/*#endregion*/

/*#region slider base*/

.slider {
    height: 800px;
    position: relative;
}

    .slider .navigation {
        width: 1366px;
        height: 40px;
        position: absolute;
        bottom: 25px;
        text-align: center;
    }

        .slider .navigation .circle {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #212121;
            opacity: 0.2;
            border-radius: 50%;
            margin: 5px;
        }

            .slider .navigation .circle.active {
                opacity: 1;
                width: 40px;
                height: 40px;
                margin-bottom: 0;
            }

    .slider .content {
        padding: 0 100px;
        padding-top: 360px;
        width: 458px;
    }

        .slider .content .tag {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .slider .content .name {
            color: #212121;
            font-size: 55px;
            text-transform: uppercase;
            font-weight: 100;
            margin-top: 10px;
        }

        .slider .content .details {
            color: #6c6c6c;
            font-size: 14px;
            margin-top: 20px;
            line-height: 24px;
        }

        .slider .content .button {
            display: inline-block;
            width: 212px;
            height: 45px;
            line-height: 45px;
            text-decoration: none;
            color: #212121;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            border-radius: 23px;
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
            background-color: #ffffff;
            margin-top: 20px;
        }

    /*#endregion*/

    /*#region slider top*/

    .slider.top {
        background-image: url('img/top-slider-img.jpg');
    }

        .slider.top .tag {
            color: #43a047;
        }

/*#endregion*/

/*#region featured-product*/

.featured-product {
    margin: 0 100px;
    padding: 100px 0;
}

    .featured-product .tab-controll .menu {
        list-style: none;
    }

        .featured-product .tab-controll .menu .item {
            display: inline-block;
        }

            .featured-product .tab-controll .menu .item a {
                width: 80px;
                height: 25px;
                color: #6c6c6c;
                font-size: 36px;
                font-weight: 700;
                text-decoration: none;
                padding: 0 15px 5px;
            }

            .featured-product .tab-controll .menu .item.active a, .featured-product .tab-controll .menu .item:hover a {
                color: #212121;
                border-bottom: 3px solid #212121;
            }

    .featured-product .tab-content {
        padding-top: 50px;
    }

        .featured-product .tab-content a {
            padding-right: 15px;
            display: inline-block;
        }

        .featured-product .tab-content img:hover {
            outline: 1px solid green;
        }

.trending-products.featured-product .tab-content a {
    margin-bottom: 20px;
}

/*#endregion*/
.slider.hot-deals {
    background-image: url('img/hot-dealsl-slider-img.jpg');
}

    .slider.hot-deals .tag {
        color: #e53935;
    }

/*#region promo-product*/

.promo-product .promo-content1, .promo-product .promo-content2 {
    float: left;
    width: 50%;
}

.promo-product .slider {
    height: 683px;
}

    .promo-product .slider .content {
        padding-top: 225px;
        padding-left: 50px;
    }

    .promo-product .slider .tag {
        color: #1e88e5;
    }

    .promo-product .slider .name {
        color: #212121;
        font-size: 36px;
        font-weight: 700;
        text-transform: none;
    }

    .promo-product .slider.promo-content1 {
        background-image: url('img/promo-product1-img.jpg');
    }

    .promo-product .slider.promo-content2 {
        background-image: url('img/promo-product2-img.jpg');
    }

/*#endregion*/

/*#region mobile-app*/
.slider.mobile-app {
    height: 516px;
    background-image: url('img/mobile-app-img.jpg');
}

    .slider.mobile-app .content {
        padding-top: 120px;
    }

        .slider.mobile-app .content .details {
            font-size: 22px;
        }

        .slider.mobile-app .content .buttons {
            padding-top: 30px;
        }

            .slider.mobile-app .content .buttons a {
                text-decoration: none;
                margin-right: 10px;
            }

/*#endregion*/

/*#region footer*/
.footer {
    background-color: #f7f7f7;
    padding: 0 100px;
}

    .footer .content {
        padding-top: 120px;
    }

        .footer .content .contact {
            float: left;
            margin-right: 75px;
            width: 220px;
        }

        .footer .content .menu {
            float: left;
        }

            .footer .content .menu ul {
                display: block;
                float: left;
                list-style: none;
            }

                .footer .content .menu ul.first {
                    margin-right: 100px;
                }

                .footer .content .menu ul > li a {
                    color: #212121;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 26px;
                    text-transform: uppercase;
                    letter-spacing: 0.7px;
                    text-decoration: none;
                }

        .footer .content .subscribe {
            float: right;
            width: 370px;
        }

            .footer .content .subscribe input {
                width: 100%;
                height: 48px;
                border: 1px solid #d9dee1;
                padding-left: 15px;
                color: #6c6c6c;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
            }

        .footer .content h3 {
            color: #6c6c6c;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            padding-bottom: 10px;
        }

        .footer .content p {
            color: #212121;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            padding-bottom: 30px;
        }

    .footer .bottom {
        padding-top: 65px;
        padding-bottom: 30px;
    }

        .footer .bottom, .footer .bottom a {
            color: #6c6c6c;
            font-size: 12px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
        }

            .footer .bottom a {
                text-decoration: none;
            }

            .footer .bottom .copyright {
                float: left;
            }

            .footer .bottom .policy {
                float: right;
            }

/*#endregion*/
